nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.05);
}

.brand-logo {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
}

ul {
  
  display: flex;
  list-style-type: none;
  
}

ul li {
  margin-right: 40px;
}

ul li:last-child {
  margin-right: 0;
}

ul a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
